@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --primary-color: hsl(167, 40%, 55%);
  /* filter: invert(100%); */
}

* {
  box-sizing: border-box;
}

body {
  /* background-image: url(img/background_img.jpg);
  background-color: #f4f4f4; */
  background: rgb(226, 79, 79);
  background: radial-gradient(
    circle,
    rgba(226, 79, 79, 1) 38%,
    rgba(170, 50, 50, 1) 92%
  );
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: white;
  padding: 15px 35px 15px 35px;
  border-radius: 10%;
  box-shadow: 10px 10px 5px;
}

h1 {
  color: black;
  text-align: center;
  font-family: "Staatliches", cursive;
}

#subtitle {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 20px;
}

#endquote {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 18px;
  /* letter-spacing: 0.5px; */
  margin-bottom: -2px;
}

.btn {
  color: black;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 12px;
  border-radius: 10px;
  margin-left: 10px;
  font-family: "Fredoka One", cursive;
}

.money-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: #660033;
  font-size: 14px;
  padding: 0 10px;
  font-family: "Fredoka One", cursive;
}

#amount-one,
#amount-two {
  color: black;
  font-family: "Fredoka One", cursive;
}

#currency-one,
#currency-two {
  color: black;
  font-family: "Fredoka One", cursive;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
  .container {
    padding: 20px 20px 20px 20px;
    border-radius: 3%;
  }
  .money-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
}
